.section {
position: relative;
width: 100vw;
height: 100vh;
overflow: hidden;
}

.heroParalax {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
pointer-events: none;
will-change: transform;
}

.heroParalax img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center center;
display: block;
}


/* Margem de segurança via scale em cada camada */
.layer5 {
z-index: 1;
transform: scale(1.08); /* Fundo move pouco -> 5% de zoom */
overflow: hidden;
}
.layer5 img {
height: 200%;
max-width: none;
object-fit: cover;
object-position: top center;
}
.layer4 {
z-index: 2;
transform: scale(1.08); /* Fundo move pouco -> 5% de zoom */
}
.layer3 {
z-index: 3;
transform: scale(1.08); /* Fundo move pouco -> 5% de zoom */
}

.layer2 {
z-index: 4;
transform: scale(1.08); /* Meio move médio -> 8% de zoom */
}

.layer1 {
z-index: 5;
transform: scale(1.12); /* Miles move mais -> 12% de zoom */
}