.preloaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.milesLogo {
    width: 10vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
}

.divLogos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    z-index: 2;
}
.sonyLogo, .marvelLogo, .starVs {
    width: 18vw;
    height: auto;
}